.navbar{
    width: 100%;
    top: 150px;
    position: absolute;
    padding: 10px;
}


.navbarwrapper {
    max-width: 1440px;
    display: flex;
    background-color: white;
    color:black;
    margin: 0 auto;
  }
  
  .left-containernav {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    gap: 10px;
  }
  
  .nav-item {
    max-width: 90px;
    margin: 20px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

  }
  
  .dropdown-icon {
    margin-left: 5px;
  }
  
  .right-containernav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
  }
  
  .hot-sale-text {
    font-weight: bold;
    font-weight: 700;
  font-size: 15px;

  }
  .fire{
    color: red;
    margin: 15px;
    width: 15px;
    height: 15px;
  }

  .sale{
    font-weight: 700;
    font-size: 15px;

    color: #2EBB77;

  }