.navbar {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:black;
    padding: 10px;
  }
  
  .left-container {
    width: 50%;
    display: flex;
    padding: 20px 0;
  }
  
  .nav-item {
    max-width: 90px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .dropdown-icon {
    margin-left: 5px;
  }
  
  .right-container {
    width: 50%;
    
    
  }
  
  .hot-sale-text {
    font-weight: bold;
    font-size: 16px;
  }