.headerwrapper{
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    
}

.wrapper{
    width: 100%;
    position: absolute;
    background: #F8F8F8;
    margin: 0 ;
    padding: 20px;
}

.socialbar{
    max-width: 1440px;
   margin:0 200px;
   display: flex;
   flex-direction: row;
}

.left-section{
    width: 50%;
   display: flex;
    gap: 5px;
}

.find-store-link{
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    padding: 0 30px;
    text-decoration: none;
    color: #7E7E7E;
     
}

.location-icon {
    padding: 0 5px;
    margin-right: 20px;
  }

.right-section{
    width: 50%;
    display: flex;
    gap: 20px;
   flex-flow: row-reverse;
}
.social-logo{

    max-width: 16px;
}