

.wrapper{
    width: 100%;
     position: absolute;
    height: 207px;
    background-color:  white ;
    margin: 0;
  
}

.h1{
    color: #7E7E7E;
}
.socialbar{
    background-color: #F8F8F8;
    position: absolute;
    height: 48.8px;
    top: 0px;
    width: 100%;
}

.left-section{
    width: 50%;
    display: flex;
    align-items: center;
}

.find-store-link{
    position: absolute;
    width: 84px;
    height: 19px;
    left: 43px;
    top: 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7E7E7E;
     
}

.location-icon {
    margin-right: 5px;
  }

.right-section{
    width: 50%;
    display: flex;
    gap: 5px;
}
.social-logo{
position: absolute;
height: 28.8px;
top: 0;
}