.Footerline{
    width: 100%;
    position: relative;
    height: 8px;
    top: 280px;
    background: linear-gradient(90deg, #EAC645 0%, #F2A173 17.57%, #97DEC0 49.15%, #6C87E6 59.32%, #CE4EEE 78.05%, #EF5B2C 100%);
}